body{

   background-image: url(Imagens/lx.avif);
    background-size: cover;
    
    color: white;
    text-align: left;
    margin-left: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 20px;
}

p{
    font-size: 15px;
    font-weight: regular;
    margin: 0 0 0 0;
    opacity: 1;
}

span{
    color: rgb(225, 255, 0);
}

ul{
    list-style:none;
}

li{
    display: inline;
}

ul li a {
    color:white;
    text-decoration: none;
    font-size: 50px;
    padding: 5px;
    
}
ul li a.hover{
    opacity: 0.7;
}

.aboutme{
    margin-bottom: 60px;
}

.botao{
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: black;
    font-style: bol;
    font-weight: 500;
    
}

.botao:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    opacity: 0.7;
    font-weight: bolder;
}